section.title-block.wrap 
    .title-block-cont.pm
        h2.block__name Made with nature
        h3.block__subname Welcome to the world of nature and organic.
        include ../templates/btn-big/btn-big
