header.header-page.wrap.pm
    h1.logo
        img(src="static/img/logo.png", alt="logo.png")
    include ../templates/nav-header/nav-header
    .btn-main-box
        button.btn-main
            span Log In 
        button.btn-main
            span SIgn UP
        button.btn-main.none 
            img(src="static/img/bascet.svg", alt="bascet.svg")
            span Cart
            input(type="text" value="0")