section.contacts.wrap
    .contacts-cont.pm
        .contacts-form-box
            h3.block__subname Subscribe our Newsletter
            form.subscribe__form(action="#")
                input.contacts-form___mail(type="email", name="name", placeholder="Enter your email address")
                button.btn-big
                    span Subscribe
                    .bg-arrow
                        img(src="static/img/arrow_btn.svg", alt="arrow_btn.svg")
        .contacts-box 
            .contact-us
                h3.block__subname Contact Us
                .contact-block 
                    h4.contact-block__name Email
                    span.contact-block__txt needhelp@organick.com
                .contact-block 
                    h4.contact-block__name Phone
                    span.contact-block__txt 123 (1254) 1452
                .contact-block 
                    h4.contact-block__name Address
                    span.contact-block__txt 88 Road, Brooklyn Street, USA
            .contacts-block-soc
                img.logo(src="static/img/logo.png", alt="logo.png")
                span.contacts-block-soc__txt We are a popular and farming company aspiring to be a leader in the Organic food industry.
                .contacts-block-soc-link-block
                    .soc-link-block
                        img(src="static/img/facebook.svg", alt="facebook.svg")
                    .soc-link-block
                        img(src="static/img/twitter.svg", alt="twitter.svg")
                    .soc-link-block
                        img(src="static/img/instagram.svg", alt="instagram.svg")
                    .soc-link-block
                        img(src="static/img/china.svg", alt="china.svg")
            .contacts-block-link
                h3.block__subname Utility Pages
                ul
                    li
                        a(href="") 
                    li
                        a(href="") 
                    li
                        a(href="") 
                    li
                        a(href="") 
                    li
                        a(href="") 
                    li
                        a(href="") 

