section.about-us.wrap
    .about-us-cont
        img.about-us__img(src="static/img/about-us.png", alt="about-us.png")
        article.about-us-info
            h2.block__name About Us
            h3.block__subname We Believe in Organic Foods For Strong Health
            p.about-us_txt Welcome to the world of natural and organic. Here
                | you can discover the bounty of nature. We have grown on the principles of health,
                | and care. We aim to give our customers a healthy chemical-free meal for perfect nutrition.
            .box 
                .about-us-info-mini
                    img.about-us-info-mini_img(src="", alt="")
                    div
                        h4.about-us-info-mini__title Organic Foods Only
                        span.about-us_txt The Product that you ordered will be verified that we have or not if have
                                        | we will start to move on with the next step.
                .about-us-info-mini
                    img.about-us-info-mini_img(src="", alt="")
                    div
                        h4.about-us-info-mini__title Quality Standards
                        span.about-us_txt Once your product is packed it will be delivered to your nearby locality
                                        | you can directly visit the to buy the product.

