nav.nav-header.pm
    ul
        li.none
            h1.logo
                img(src="static/img/logo.png", alt="logo.png")
        li
            a.nav-header__link(href="http://") Home
        li
            a.nav-header__link(href="http://") About Us
        li
            a.nav-header__link(href="http://") Shop
        li
            a.nav-header__link(href="http://") Pages
        li
            a.nav-header__link(href="http://") Contact Us
