.nav-header
    width: 665px
    ul
        @include flex(row,flex-start,center)
        @include txt(400,20px,32px,$dark-txt)
        li
            flex-grow: 1
    .nav-header__link:hover
        color: $green