section.subtitle-block.wrap 
    .subtitle-block-cont.pm
        article.card.card_natural
            h2.block__name Natural!!
            h3.block__subname Get Garden Fresh Fruits
        article.card.card_offer
            h2.block__name Offer!!
            h3.block__subname Get 10% off on Vegetables



