include ../mixin-pug/card
include ../data
section.our-products.wrap
    .our-products-cont.pm
        h2.block__name Organic
        h3.block__subname Our Products
        .block-btn-choise 
            button.products-box-card__btn(data-category='Mill') Mill
            button.products-box-card__btn(data-category='Vegatable') Vegatable
            button.products-box-card__btn(data-category='Fru') Fru
            button.products-box-card__btn(data-category='All') All
        .products-box
            each product, position in products
                each elm in product
                    +card(elm)