@import var
@import normalize
.block__name
    font-family: 'Inter', sans-serif
    @include txt(400,36px,65px,$green)
    margin-bottom: 25px
.block__subname
    margin-bottom: 40px
    font-family: 'Roboto', sans-serif
    @include txt(700,45px,58px,$dark-txt)
.wrap
    max-width: 1400px
    margin: 0 auto
.pm
    padding: 0 40px
body
    background-color: $body-color
@import ../page/header/header
@import ../page/title-block/title-block
@import ../page/subtitle-block/subtitle-block
@import ../page/about-us/style
@import ../page/our-products/style
@import ../page/news/style
@import ../page/contacts/style
@import ../page/footer/style
@import ../page/clock/style
@import media