section.modal
    .modal__dialog
        span.modal__close(data-close) &times 
        .modal__content
            form(action="#")
                span.modal__title we will contact you as soon as possible
                input(type="text", name="name" required placeholder="Your name")
                input(type="phone", name="phone" required placeholder="Your phone number")
                button.btn-big call me back
