-
    const products = {
        calabreseBroccoli:[{cardBtn: 'Vegatable',cardImg: 'static/img/brocolli.png', cardName: 'Calabrese Broccoli', costMain: '$ 25.00 USD', cost: '$ 21.00 USD'}],
        freshCorn:[{cardBtn: 'Vegatable',cardImg: 'static/img/corn.png', cardName: 'Fresh Corn', costMain: '$ 21.23 USD', cost: '$ 18.00 USD'}],
        driedPistachio:[{cardBtn: 'Mill',cardImg: 'static/img/dried.png', cardName: 'Dried Pistachio', costMain: '$ 61.00 USD', cost: '$ 48.00 USD'}],
        tomato:[{cardBtn: 'Vegatable',cardImg: 'static/img/tomato.png', cardName: 'Vegan Red Tomato', costMain: '$ 14.00 USD', cost: '$ 9.37 USD'}],
        organicAlmonds:[{cardBtn: 'Fru',cardImg: 'static/img/organick_almd.png', cardName: 'Organic Almonds', costMain: '$ 21.00 USD', cost: '$ 18.00 USD'}],
        brownHazelnut:[{cardBtn: 'Mill',cardImg: 'static/img/brownHazelnut.png', cardName: 'Brown Hazelnut', costMain: '$ 43.00 USD', cost: '$ 34.00 USD'}]
    }
