-
    const dataNews = {
        news1:[{bgNews: 'static/img/news1.png', namePerson: 'Kristina Castle', nameNews: 'Everything You Need to Know About Organic', newsTxt: 'Organic farming is the only way that you still can experience the real world.'}],
        news2:[{bgNews: 'static/img/news2.png', namePerson: 'Alex Louis', nameNews: 'Organic Fruits: Surprising Benefits and Facts', newsTxt: 'The world of nature has grown on the principles of health, ecology, and care.'}]
    }
