doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Organick 
        link(rel="stylesheet", href="style/main.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    body
        // header
        include page/header/header
        main
            // title-block
            include page/title-block/title-block
            // subtitle-block
            include page/subtitle-block/subtitle-block
            // about-us
            include page/about-us/index
            // our-products
            include page/our-products/index
            // news
            include page/news/index
            // contacts
            include page/contacts/index
            //clock
            include page/clock/index
            // footer
        include page/footer/index
        // modal
        include page/modal/index
        script(defer src="js/header.js")
        script(defer src="js/timerPage.js")
        script(defer src="js/choiseProduct.js")
        script(defer src="js/modalCall.js")