section.clock.wrap
    .clock-cont.pm
        .clock-txt-cont
            h2.clock__title.block__subname Promotion for new customers
            span.clock__txt We value each of our clients and offer you to become one of them on very favorable terms. Everyone who orders delivery will receive a 20% discount. 
        .clock-face-box
            h3.clock-face-box__title.block__subname Until the end of the action left
            .timer 
                .timer-block
                    span#days 30
                    span Days
                .timer-block
                    span#hours 30
                    span Hours
                .timer-block
                    span#minutes 30
                    span Minutes
                .timer-block
                    span#seconds 30
                    span Seconds
