include ../mixin-pug/news-card
include ../data-news
section.news.wrap
    .news-cont.pm
        h2.block__name News
        h3.block__subname Discover The recent content about organic products
        .news-box
            each news, position in dataNews
                each elm in news
                    +newsCard(elm)